# Byte-compiled files
*.py[cod]
__pycache__/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg
*.tar.gz
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environment
venv/
ENV/
env/
.venv/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# SQLite database
*.sqlite3

# Pytest
.cache/

# Test coverage reports
coverage.xml
*.cover
*.hypothesis/

# IML y XML
*.iml
*.xml
